
.header {
    height: 464px;
    background-color: #472F88;
    color: white;
}

.header img {
    height: 79px;
    width: 73px;
}

.header h1 {
    font-size: 3rem;
    margin-top: 9px;
}
.header p {
    margin: 30px 0;
}

.header a {
    display: block;
    text-decoration: none;
    color: black;
    max-width: 360px;
    background-color: white;
    border: 1px solid white;
    border-radius: 9px;
    text-align: center;
    padding: 11px 0;
}

/* .header a:hover {
    color: white;
    background-color: #472F88;
} */

.container {
    max-width: 1120px;
    padding: 109px 25px 33px 25px;
}

.introduction {
    text-align: justify;
}

/* main */ 

.choices {
    text-align: center;
    max-width: 350px;
}

/* pour le choices p voir pour la même mise en page que sur la maquette  */ 
.separate {
    margin-top: 127px;
}

.separate h2::after {
    content: "";
    display: block;
    background-color: #472F88;
    height: 10px;
    max-width: 110px;
    border-radius: 9px;
}
.component{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 37px;
    height: 321px;
    color: white;
    margin-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}
.component-1{
    background-image: url(./assets/images/pepinieres_d_entreprise.png);
    text-indent: 10%;
}
.component-2{
    background-image: url(./assets/images/fablab.png);
}
.component-3{
    background-image: url(./assets/images/residents.png);
}
.component-4{
    background-image: url(./assets/images/nos_services.png);
}

/* footer */ 

.footer {
    background-color: #472F88;
    height: 700px;
    color: white;
}

.about h2 {
    margin-bottom: 34px;
}
.about a{
    display: block;
    text-decoration: none;
    margin-bottom: 26px;
}

.found-us {
    margin-top: 68px;
}
.found-us p{
    margin-top: 38px;
    line-height: 30px;
}

.legal {
    margin-top: 68px;
}
.legal a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 8px;
}

/* Partie responsive */ 

@media screen and (max-width: 1260px)
{
    .container {
        max-width: 1000px;
    }
}