

.header {
    height: 464px;
    background-color: #472F88;
    color: white;
}

.header img {
    height: 79px;
    width: 73px;
}

.header h1 {
    font-size: 3rem;
    margin-top: 9px;
}
.header p {
    margin: 30px 0;
}

.header a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    background-color: white;
    border: 1px solid white;
    border-radius: 9px;
    text-align: center;
    padding: 11px 20px;
}

.header a:hover {
    color: white;
    background-color: #472F88;
    transition: 0.5s;
    cursor: pointer;
}

.container {
    max-width: 1120px;
    padding: 109px 25px 33px 25px;
}

.introduction {
    text-align: justify;
}

/* -----------------------------------------main ---------------------------*/ 

.choices {
    text-align: center;
    /* max-width: 350px; */
}
.choices p{
    margin: 0 auto;
    max-width: 350px;
}

.separate {
    margin-top: 127px;
}

.separate h2::after {
    content: "";
    display: block;
    background-color: #472F88;
    height: 10px;
    max-width: 110px;
    border-radius: 9px;
    margin-top: 24px;
}
.component-container {
    margin-bottom: 390px;
}
.component{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 37px;
    height: 321px;
    color: white;
    margin-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 9px;
}
.component-container a {
    text-decoration: none;
    color: white;
}
.component-container a:visited {
    text-decoration: none;
    color: white;
}
.component:hover {
    box-shadow: 5px 8px 0px 5px #472F88;
    transition: 0.5s;
    opacity: 0.7;
    cursor: pointer;
}
.component-1{
    background-image: url(./assets/images/pepinieres_d_entreprise.png);
    text-indent: 10%;
}
.component-2{
    background-image: url(./assets/images/fablab.png);
}
.component-3{
    background-image: url(./assets/images/residents.png);
}
.component-4{
    background-image: url(./assets/images/nos_services.png);
}

/* -----------------------------------footer ------------------------------*/ 

.footer {
    width: 100%;
    background-color: #472F88;
    height: 800px;
    color: white;
}
.footer .container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 30px;
    justify-items: start;
}

.about a{
    display: block;
    text-decoration: none;
    color: white;
    line-height: 34px;
}
.found-us p{
    margin-top: 25px;
    line-height: 34px;
}
.legal a{
    display: block;
    text-decoration: none;
    line-height: 34px;
    color: white;
    margin-bottom: 8px;
}

/* ------------------------------Page Pepinière ---------------------------------*/
.container-2 {
    max-width: 1120px;
    padding: 109px 25px 33px 25px;
    border: 1px solid yellow;

}
.navbar {
    border: 1px solid red;
    height: 82px;
    width: 100%;
    box-shadow: 0px 16px 14px 0px rgba(0,0,0,0.20);
}


/* -------------------------------Partie responsive ---------------------------*/

/* -------------------------------Index ---------------------------------------*/
@media screen and (min-width: 700px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .header a {
        display: inline-block;
        width: auto; 
    }

    /* main containt */ 
    main .container {
        display: flex;
        flex-direction: column;
    }
    .choices {
        max-width: 300px;
    }
    .choices-container {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
    }
    .component-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 49px;
    }
    .component {
        border: 1px solid green;
        /* width: 325px; */
        justify-content: space-;

    }
    .footer .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: start;

    }
}

@media screen and (min-width: 1000px) {
    .component-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 49px;
    }

    .footer .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: start;
    }
    
}